@media (max-width: 1024px){
    main{
        flex-direction: column;
    }

    main .left{
        width: 100%;
    }
    
    
    main .right{
        width: 100%;
    }    


}

@media (max-width: 520px){
    main .left .tarjeta{
        width: 400px;
    }

    main .left .tarjeta .numeros{
        font-size: 22px;
    }

    main .left .tarjeta .nombre{
        font-size: 16px;
    }

    main .left .tarjeta .small{

    }
    main .left .tarjeta .vencimiento{
        top: 85px;
        font-size: 14px;
    }
}

@media (max-width: 450px){
    main .left .tarjeta{
        width: 360px;
    }

    main .left .tarjeta .numeros{
        font-size: 22px;
    }

    main .left .tarjeta .nombre{
        font-size: 16px;
    }

    main .left .tarjeta .small{
        
    }
    main .left .tarjeta .vencimiento{
        top: 85px;
        font-size: 14px;
    }


    main .right form div label{
        font-size: 13px;
    }
    main .right form{
        grid-template-columns: 150px 150px;
    }
}